<table>
    <tr>
        <td>User</td>
        <td>Weekly Goals</td>
        <td>Daily Goals</td>
        <td>Verify Goals</td>
        <td>Done Goals</td>
    </tr>
    <tr>
        <td>{{user}}</td>
        <td>{{goal_name}}</td>
        <td>{{goal_id}}</td>
    </tr>
</table>